.title {
    font-size: 30px;
    margin: 0;
}


.productContainer {
    border-top: 3px solid #B0B0B0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 37px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 139px;
}

@media (pointer:none),
(pointer:coarse) {
    .productContainer {
        flex-direction: column-reverse;
    }
}