.title {
    font-size: 30px;
    margin-bottom: 0;
}

.productContainer {
    border-top: 3px solid #B0B0B0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    gap: 37px;
    flex-wrap: wrap;
    width: 100%;
}